# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.IpcDemo.iml
# Datasource local storage ignored files
/../../../../../../:\projects\CSNamedPipes\.idea\.idea.IpcDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
